@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Amplify Fitness</h1>
    <p class="lead">The website that eases the pain of scheduling your next session - allowing you to focus more on the what, not about when.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("About Us", "About", "Home")</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please register by clicking the "register" button on the drop-down menu above, or click the button below.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Register", "Register", "Register")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Next steps</h2>
        <p>After registering, sign up for a session by clicking the "Reserve" on the drop-down menu above, or click the button below.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Reserve", "Reserve_Home", "Reserve")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fitness Forum</h2>
        <p>Finally, find the "Forum" button on the drop-down menu above, or click the button below, to access the public forum for videos, advice, and more.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Forum", "Forum_Home", "Forum")</a></p>
    </div>
</div>